body{
  font: 15px/1.5 Arial, Helvetica, Sans-serif;
  padding: 0;
  margin:0;
  background-color: #f4f4f4;
}

/* Global */
.container{
  width:90%;
  margin:auto;
  overflow:hidden;
  font-style:normal bold;
  position: relative;
}



ul {
    margin:0;
    padding:0;
}

button{
  height:20px;
  background:orange;
  border:0;
  padding-left: 20px;
  padding-right: 20px;
  color:#black;
}
/*header*/
header{
  background-color: #35424a;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #e8491d 3px solid;

}

header a{
  color:#ffffff;
  text-decoration: none;
  text-transform:uppercase;
  font-size: 16px;

}

header ul {
  margin: 0;
  padding: 0;
}



  header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
  }

  header #branding{
    float: left;
  }
  header #branding h1{
    margin:0;
  }
  header nav{
    float: right;
    margin-top: 10px;
  }

  header .highlight, header .current a {
    color: #e8491d;
    font-weight: bold;

  }

  header a:hover{
    color: #cccccc;
    font-weight: bold;
  }

   .movoto {
    color: #e8491d;
    font-weight: bold;
    font-weight: bolder;

  }


  /* Showcase */

  #showcase{
    min-height:1200px;
    background:url('../img/showcase_html.jpg')no-repeat 0 -0px;
    text-align: left;
    color:black;

  }

  #showcase h1 {
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
  }

  #why {
    min-height:400px;
    background:url('../img/why_html.jpg')repeat 0 -100px;
    text-align: center;
    color:black;
  }

  #page-title{
    text-align:center;
    background-color: blue;
  }

  #showcase p {
   font-size: 20px;
  }

#newsletter{
  padding:25px;
  color: #ffffff;
  background: #35424a;
  text-align: center;
}
#newsletter h1{
  float:inherit;
}
#newsleter form {
  float:none;
  margin-top: 15px;
}
#newsleter input[type="email"]{
  padding:20px;
  height:25px;
  width:250px;
}

/*---boxes----*/

#boxes{
  margin-top: 20px;
}

#boxes .box{
  float:left;
  text-align: center;
  width: 30%;
  padding: 10px;
}
#boxes .box img{
  width:90px;

}

footer{
  background-color: #e8491d;
  padding: 10px;
  color:#ffffff;
  margin-top: 100px;
  text-align: center;
float: inherit;

}

.container-video {
  margin-top:center;
  padding: 30px;
  width: 300px;


}

social-media{
  float: none;
}

iframe{
  background-color:#C0C0C0;
  position:relative;



}
